.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}


.tw-followCard-infoUserName {
    opacity: .6;
}

.tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button{
    margin-left: 16px;
    border-radius: 999px;
    background-color: #fff;
    border: 0;
    padding: 5px 15px;
    font-weight: bold;
    border: #000 1px solid;
    transition: .3s ease background-color;
}

.tw-followCard-button:hover{
    background-color: #09f;
    cursor: pointer;
}

.is-following:hover{
    border: solid 1px red;
    color: #fff;
    background: red;
}